body {
  margin: auto;
  font-family: "Nunito", sans-serif;
  background-color: #f4f4f4;
}

h3 {
  padding: 0px;
  margin: 0px;
}

#sidebar-button {
  display: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #sidebar-button {
    display: block;
  }
}

#container {
  display: flex;
  height: 100vh;
}
#container #chat {
  padding: 24px;
  flex: 75%;
}
@media screen and (max-width: 600px) {
  #container #chat {
    flex: 100%;
  }
}
#container #chat:has(.active) {
  flex: 100%;
}
#container #profile {
  padding: 24px;
  flex: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-shrink: 0;
  align-self: stretch;
  overflow-y: auto;
  max-height: 100%;
  background-color: #f9f9f9;
}
@media screen and (max-width: 600px) {
  #container #profile {
    display: none;
  }
}
#container #profile:has(.active) {
  flex: 100%;
  display: flex;
}

#profile #image {
  position: relative;
}
#profile #image img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
}
#profile #image #overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  padding: 60px 12px 12px 12px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  border-radius: 0 0 16px 16px;
}
#profile #data-table {
  padding-left: 12px;
  padding-right: 12px;
}
#profile #data-table table {
  width: 100%;
}
#profile #data-table th {
  text-align: left;
}
@media screen and (max-width: 800px) {
  #profile #data-table th {
    display: inline-block;
    width: 100%;
  }
}
#profile #data-table td {
  text-align: right;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  #profile #data-table td {
    text-align: left;
    display: inline-block;
  }
}
#profile #summary {
  padding-left: 12px;
  padding-right: 12px;
}

#chat {
  display: flex;
  flex-direction: column;
}
#chat #content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  height: 100%;
}
#chat #content .message-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#chat #content .message-container:has(.bot) {
  justify-content: flex-start;
}
#chat #content .message-container:has(.user) {
  justify-content: flex-end;
}
#chat #content .message-container:has(.system) {
  justify-content: center;
}
#chat #content .message {
  display: inline-block;
  border-radius: 14px;
  padding: 10px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  position: relative;
  min-width: 5%;
  max-width: 50%;
}
#chat #content .audio-container .audio-button {
  font-size: 28px;
  cursor: pointer;
}
#chat #content .bot {
  align-self: flex-start;
  background-color: #e1e1e1;
  color: black;
  border-radius: 0 14px 14px 14px;
}
#chat #content .bot .timestamp {
  color: rgb(140, 140, 140);
}
#chat #content .user {
  align-self: flex-end;
  background-color: #007aff;
  color: white;
  border-radius: 14px 0 14px 14px;
}
#chat #content .user .timestamp {
  color: rgb(220, 220, 220);
}
#chat #content .system {
  background-color: rgba(223, 70, 85, 0.8);
  color: white;
  text-align: center;
  align-self: center;
}
#chat #content .system .material-symbols-outlined {
  vertical-align: middle;
}
#chat #input {
  display: flex;
  width: 100%;
  gap: 6px;
  margin-top: 10px;
}
#chat #input input {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
#chat #input input::placeholder {
  color: #e0e0e0;
}
@media screen and (max-width: 600px) {
  #chat #input input {
    width: 90%;
  }
}
#chat #input button {
  width: 5%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
@media screen and (max-width: 800px) {
  #chat #input button {
    width: 10%;
  }
}

#loader {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 4;
}

.loading {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #007aff;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
@keyframes dot-flashing {
  0% {
    content: ".   ";
  }
  33% {
    content: "..  ";
  }
  66% {
    content: "... ";
  }
  100% {
    content: ".   ";
  }
}
.dot-flashing::before {
  content: ".   ";
  animation: dot-flashing 1s infinite;
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
